<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Tag for UDS Google Analytics (Marketing and Communications)-->
	<meta name="google-site-verification" content="SYzG0-ATvEy8GqOjJfv4OER9xYw3IUVMpB0mYLHTwWE" />
	<!-- Chrome, Firefox OS, Opera and Vivaldi -->
	<meta name="theme-color" content="#F0F0F0">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#F0F0F0">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#F0F0F0">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ page.title }}</title>

  {% include favicon.html %}
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" /> <!-- Font 'Open Sans' Hosted by Google -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/CSS/summer.css?v=3"> <!-- Additional local CSS -->

</head>
<body>
{% include navbar.html %}
<div id="cocbody" class="container-fluid">
  <div class="row">
  	  <div class="col-sm-12">
        {{ content }}
    </div>
  </div>
</div>

</body>

{% include footer.html %}
